---
import '../styles/main.css';

const title = 'Tristan Jay - AI Specialist Portfolio';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Tristan Jay - AI Specialist Portfolio">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
</head>
<body>
   <h1>Test</h1>
</body>
</html>

<script>
  console.log('test');
</script>
